body {
    background-color: #1a1b1c;
    margin: 0;
}
canvas {
    position: absolute;
    display: block;
}
input {
    position: absolute;
    display: none;
}
select {
    position: absolute;
    display: none;
}